COMPOSE_PROJECT_NAME=observability-platform

GRAFANA_IMAGE=grafana/grafana-oss:11.2.0
PROMETHEUS_IMAGE=prom/prometheus:v2.54.1
LOKI_IMAGE=grafana/loki:3.1.1
TEMPO_IMAGE=grafana/tempo:2.6.1
OTEL_COLLECTOR_IMAGE=otel/opentelemetry-collector-contrib:0.111.0
PROMTAIL_IMAGE=grafana/promtail:3.1.1

GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
LOKI_PORT=3100
TEMPO_PORT=3200
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://localhost:4318/v1/metrics
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:4318/v1/logs
